<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{- partial "head.html" . -}}
    <body>
        <div class="main-content">
            {{- partial "header.html" . -}}
            <div class="wrapper clearfix">
                <div class="content {{ if eq .Params.showSidebar false }}{{ if eq .Params.showTOC true }}sized{{ else }}full{{ end }}{{ else}}sized{{ end }}"> 
                    
                    {{- block "main" . }}
                    
                    {{- end }}

                </div>
                {{ if eq .Params.showTOC true }}
                    <div class="sidebar-toc">
                    <h2>Obsah stránky</h2>
                        {{ .TableOfContents }}
                    </div>
                {{ end }}
                {{ if eq .Params.showSidebar false }}
                {{ else}}
                <div class="sidebar clearfix">
                    {{- partial "sidebar.html" . -}}
                </div>
                {{ end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
        <script>
            document.getElementById('menu-btn').addEventListener('click', function () {
              document.getElementById('nav-menu').classList.toggle('show-menu')
              document.getElementById('nav-search').classList.remove('show-search')
            })
            document.getElementById('search-btn').addEventListener('click', function () {
              document.getElementById('nav-search').classList.toggle('show-search')
              document.getElementById('nav-menu').classList.remove('show-menu')
            })

            </script>
    </body>
</html>
