{{ define "main"}}
<div class="post clearfix">
    <div class="post-content-full">
        <h2>{{ .Title }}</h2>
        <div class="post-meta">
            <ul>
            <li><i class="far fa-calendar"></i>&nbsp;{{- .Date.Format (.Site.Params.dateformat | default "02. 01. 2006") -}}</li>
            {{- if .Params.author -}}
            <li><i class="fa fa-user"></i> <a href="#">{{ .Params.author}}</a></li>
            {{- end -}}
            <li><i class="fa fa-inbox"></i>&nbsp;
            {{- $cat := "kategorie" -}}
            {{- with .Param $cat -}}
            {{- range $index, $category := . }}
			{{- $url := urls.Parse ($category | urlize) -}}
			{{- $path := $url.Path -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $cat $path) }}
				{{- if gt $index 0 }}&nbsp;{{ end -}}
				<a  href="{{ .RelPermalink }}" rel="category">{{ .Title }}</a>
			{{- end }}
            {{- end }}
            </li>
            {{ end }}
            <li>
                {{ if .Params.stitek }}
                <i class="fa fa-tags"></i>
                  {{ range .Params.stitek }}
                    <a href="{{ "/stitek/" | relURL }}{{ . | urlize}}">{{ . }}</a>&nbsp;
                  {{ end }}
                {{ end }}
            </li>
            </ul>
        </div>
        <div class="post-preview">
            {{ .Content }}
        </div>
        {{ .Params.serial }}
    </div>
</div>
{{ end }}
