* {
    box-sizing: border-box
  }
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}  
body {
    padding: 0px;
    margin: 0px;
    background-color: #353B43;
    color: #AFBAC4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 18px;
    height: 100%;

}

body a {
    color: #57CC8A;
    text-decoration: none;
}

body a:hover {
    color: #AFBAC4;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

figcaption h4 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #AFBAC4;
}


.tag {
color:#57CC8A;
background-color: #494F56;
padding: 0.3em;
border-radius: 7%;
}

.tag:hover {
    background-color: #72767C;
    color: white;
}

.tag-cloud {
    font-size: 0.8em;
    line-height: 1.5em;
}

.tag-count {
    background-color: #242930;
    padding: 0.3em;
    border-radius: 15%;
}

.content-header {
    color: white;
}

/* Hlavička */

.header {
    background-color: #242930;
    color: white;
    border-bottom: 1px solid #57CC8A;
    height: 60px;
}

.logo-img {
    float: left;
    margin-top: 10px;
    margin-right: 1em;
    height: 40px;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}
.nav-logo {
    float: left;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.nav-logo a{
    color: white;
}

.nav-logo a:hover {
    color: white
}

.nav-link {
    color:white;
}

.nav-menu a {
    color: white ;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #57CC8A;
}

.nav-menu {
    float: left;
    margin-top: 22px;
}

.nav-menu ul {
    list-style: none;

}
.nav-menu li {
    display: inline;
    margin-right: 1em;
}
.nav-search {
    margin-top: 17px;
    float: right;
}

.nav-search input {
    font-size: 16px;
}

.nav-search input[type=text] {
    background-color: inherit;
    color: white;
    border-bottom: 2px solid #57CC8A;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.nav-search button {
    border: 0px;
    background-color: inherit;
    color: white;
    font-size: 1em;
}

.btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}
.search-btn {
    display: none;
    float: right;
}
.menu-btn {
    display: none;
    float: right;
}

/* OBSAH */

.main-content {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.content {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 60px; 
}

.mark-body h2 {
    color: white;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.mark-body h3 {
    color:white;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.mark-body blockquote {
    margin: 0px;
    padding-left: 10px;
    border-left: 5px solid #57CC8A;
}

.mark-body table, th, td {
    border: 1px solid;
    margin:0px;
    padding: 10px;
    border-collapse: collapse;
}

.mark-body pre {
    border-left: 5px solid #57CC8A;
    padding: 10px;
}

.mark-body kbd {
    background-color: #494F56;

}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; 
}

/* Příspěvek */
.post {
    margin-bottom: 3em;
}

.post-image {
    float:left;
    width: 30%;
    padding-right: 1em;

}

.post-image img {
    width: 30%;
}
.post-content {
    float: right;
    width: 70%;
}

.post-content h2 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.post-content-full h2 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.post-meta {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}

.post-meta ul {
    padding: 0px;
    margin: 0px; 
}
.post-meta li {
    display: inline;
    margin-right: 5px;
}

.post-preview {
    margin-top: -15px;
    padding: 0px;
}

.post-preview img {
    width: 100%;
}

.post-tags {
    font-size: 0.8em;
}

.single-content h1 {
    color: white;
    font-size: 1.8em;
    line-height: 1.0em;
}

.single-meta ul {
    padding: 0px;
    margin: 0px; 
}
.single-meta li {
    display: inline;
    margin-right: 5px;
    font-size: 0.8em;
}

.single-tags {
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.single-content img {
    max-width: 100%;
    align: center;
}




.sidebar {
    float: right;
    width: 25%;
    padding-bottom: 40px;
    line-height: 1em;
    padding-left:10px;
    padding-right: 1px;
}

.sidebar-item ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sidebar-item li {
margin-bottom: 0.5em;
}

.sidebar-item {
    margin-bottom: 2em;
}

.sidebar-item h2 a {
    color: white;
}

.sidebar-toc {
    float: right;
    width: 25%;
    line-height: 1.5em;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-top: 1px;
  background: #353B43;
  color: white;
}

.sidebar-toc ul {
    list-style: none;
    padding: 0px;
}

.sidebar-toc ul li ul {
    list-style:circle;
    padding-left: 20px;
}

.sidebar-toc ul li ul li {
    font-size:0.9em;
}

.sidebar h2 {
    color: white;
}

.sidebar-tag-cloud {
    font-size:0.9em;
    line-height: 2.5em;
    text-align: center;
}

.taxo-tags {
    text-align: center;
    line-height: 2.5em;
}

/* Stránkování*/
.pagination {
    list-style:none;
    text-align: center;
}

.pagination li {
    display: inline;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.pagination-item--current a{
    color: white;
}

/* Patička */
.footer {
    position: absolute;
    bottom: 0px;

    background-color: #242930;
    width: 100%;
    text-align: center;
    padding: 1em;
    border-top: 1px solid #57CC8A;
    height: 60px;
}


/* Responsivita */

@media only screen and (max-width: 1020px) {
    .wrapper {
        width: 100%;
    }
    .logo-img {
        margin-left: 1em;
    }
    .nav-search {
        display:none;
    }

    .show-search {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 46px;
        background-color: #242930;
        padding: 10px;
    }
    .nav-search input[type=text] {
        width: 90%;
        
    }
    .search-btn {
        display: block;
    }
    .main-content {
        height: 100%;
    }

}
@media only screen and (max-width: 750px) {
    .nav-menu {
        display: none;
    }
    .show-menu {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 39px;
        background-color: #242930;
        padding: 10px;
        transition: 0.3s;
    }
    .menu-btn {
        display: block;
    }

    .nav-menu li{
        display: block;

    }

    .show-search input[type=text] {
        width: 85%;
        
    }

    .content {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }


    .sidebar {
        width: 100%;
        text-align: center;
        padding: 0px 0px 80px 0px;
   
    }
.post {
    margin-bottom: 1em;
    )
}
    .post-image {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 1em;
        padding: 0px;
    }

    .post-content {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .post-meta li {
        display: block;
        margin-bottom: 5px;
    }
}
